.mealContainer {
    padding: 16px !important;
    background-color: #0000000f !important;
    border-radius: 16px;
}

.mealCollapse {
    border: none !important;
    background-color: transparent !important;
}
